

body {
margin: 0;
padding: 0;
background-color: rgb(188, 188, 248);
}

html{
    box-sizing: border-box;
    scroll-behavior: smooth ;
    font-size: 62.5%;
}


#navbar {
    background-color: rgb(255, 173, 186);
    position: fixed;
    display: flex;
    justify-content: flex-end;
    top: 0;
    left: 0;
    width: 100%;   
}
.nav-list{
    display: flex;
    list-style-type: none;
    margin-right: 2rem;
}

.nav-list a {
    display: block;
    font-size: 2rem;
    padding: 2rem;
    margin: 0px;
    text-decoration: none;
}

.nav-list a:hover {
    background: rgb(216, 128, 142) ;
}
a {
    text-decoration: none;
    color: black;
}
#welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: pink;
    background-image: linear-gradient(pink 0%, rgb(188, 188, 248)100%);
}

.project-section {
    text-align: center;
    padding: 5rem 2rem;
    background: pink;
    height: 100%;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 6rem;
}

figure img{
    width: 200px;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 3rem;
}

.btn {
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 2px;
  }
  
  
.contact-links {
    display: flex;
    justify-content: center;
}
  .contact-details {
    font-size: 2.4rem;
    text-shadow: 2px 2px 1px #9e9e9e;
    transition: transform 0.3s ease-out;
  }
  .contact-details:hover {
    transform: translateY(8px);
  }

  @media screen and (max-width: 50em) {
      .contact-links {
      flex-direction: column;
      align-items: center;
    }
  }