
* {
    margin: 0px;
    box-sizing: border-box;
    
}

.pokemonGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pokecard {
    background-color: yellow;
    width: 200px;
    height: 250px;
}