@import url('https://fonts.googleapis.com/css2?family=Poller+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geostar+Fill&display=swap');


* {
    margin: 0;
    box-sizing: border-box;
}

button {
    margin: 15px;
    border: 2px;
    font-family: 'Geostar Fill', cursive;
    color: black;
    background-color: khaki;
}

body {
    background-color: black;
}

.mainHeader {
    display:flex; 
    justify-content: space-evenly;
}

#main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

figure {
    font-family: 'Poller One',cursive;
    text-align: center;
    color: khaki;
}

figure img {
    max-height: 17rem;
    
}