body {
  background-image: linear-gradient(rgb(253, 1, 43) 45%, white, rgb(0, 0, 255)55%);
}

header {
    text-align: center;
}
  .senGrid {
    display: flex;
    flex-wrap: wrap; 
    
  }
  
  figure {
    margin: 1rem;
  }
  
  figcaption {
    display: flex;
    justify-content: center;
  }