body {
  background-image: linear-gradient(rgb(253, 1, 43) 0%, rgb(0, 0, 255)100%);
}

header {
    text-align: center;
}
  .senGrid {
    display: flex;
    flex-wrap: wrap;
  }
  
  figure {
    margin: .5rem;
  }
  
  figcaption {
    display: flex;
  }