body {
    background-color: rgb(255, 37, 164);
}

header {
    text-align: center;
}
  .senatorGrid {
    display: flex;
    flex-wrap: wrap;
  }
  
  figure {
    margin: .5rem;
  }
  
  figcaption {
    display: flex;
    justify-content: space-around;
  }